<h1>Welcome to Instagram</h1>
<p>latest 10 images</p>

<% if user_signed_in? %>
  <ul>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </ul>
<% else %>
  <ul>
  <%= link_to('Login', new_user_session_path)  %>
  </ul>
<% end %>


<p>add shrine</p>
<p>Add Bootstrap 4 gem</p>
<p>Add link to new photo on landing page</p>
<p>Each photo is linked to a user</p>
