
<div class="container">

  <div class:"row col-12">
    <% if photo.image_data? %>
      <%= image_tag photo.image_url, :class => "col-4"%>
    <% end %>

    <!-- Like button -->
    <%= form_with(model: photo, method: :patch) do |f| %>
      <% liked = photo.liked_by?(current_user) %>
      <%= f.hidden_field :liked, value: liked %>
      <%= f.button liked ? 'Unlike' : 'Like' %>
    <% end %>
  </div>

</div>
